<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript"src="{{ STATIC_URL }}/javascript/signup.js"></script>
<style>
    input {
        background-color: #F3F781;
        text-align: center;
        height: 40px; width: 220px;
        -webkit-text-fill-color: #848484;
        font-size: 20px;
        border: solid;
        border-radius: 5px
        }
    input.activate:hover{
        background-color:
    }
    body {
        width: auto;
        height: auto;
        margin: 100px;
        text-align: center;
        background-image: url('{{ STATIC_URL }}/strips.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1{
        color: white;
        font-size: 50px;
        background-color: #191007
    }
    a.styles{
        color: white;
        background-color: #191007;
    }
    a.styles:hover{
        color: #191007;
        background-color: white;
    }
    input.login{
        height: 50px;
        width: 200px;
        padding: 5px;
        margin: 5px;
        -webkit-text-fill-color: black;
        font-size: 35px !important;
        background-color: #BDBDBD;
        text-shadow: 1px 1px #000000;
        color: black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #000000;
        cursor: pointer;
        box-shadow: inset 2px 2px 2px 2px black;
    }
    .errors{
        background-color: #191007;
        color: red;
    }
</style>
</head>
<body>
    <title>Parking System | LogIn</title>
    <h1>Parking Lot Management System<br></h1>
        <font color='red'>{{ message }}</font>
    <form method="POST">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p><font class="errors">{{ form.username.errors }}</font></p>
        <p>{{ form.password }}</p>
        <p><font class='errors'>{{ form.password.errors }}</font></p>
        <input type="submit" value="Login"
            class='login'>
        <br>
        <a class='styles' href="/register/" onclick="goclicky(this); return false;">New Here? Create an account.</a>
    </form>

</body>
</html>
