<!DOCTYPE html>
<html lang="en">
<head>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<script type="text/javascript"src="{{ STATIC_URL }}/javascript/signup.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style>
</style>
<body class='colors'>
    <title>Parking System | Main</title>
</head>
<div class="panel_panel-default" >
        <div class="panel-heading" >
            <h2 class='head'><b>Parking Lot Management System</b></h2>
            <div class="container" >
                <div class="dropdown">
                    <font face='Arial' color='yellow' size='5'><b>Hello, </b></font>
                    <span style="background-color: black"  id="menu1" data-toggle="dropdown"><font color='yellow' size='5' face='Arial'><b>{{ user }}</b></font> <span class="caret"></span></span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Your Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
    {% csrf_token %}

<div class="container">
  <div class='margin'>
  <ul class="nav nav-tabs">
    <li class="active"><a class='activate'  data-toggle="tab" href="#home"><font size='4' color='black'><span class="glyphicon glyphicon-home"></span></font></a></li>
    <li><a class='activate' data-toggle="tab" href="#menu1-1"><font size='4' color='black'>Parking</font></a></li>
    <li><a id='activefooter' class='activate' data-toggle="tab" href="#menu2"><font size='4' color='black'>Contact Us</font></a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    {# CAROUSEL #}
    <div class="container">
        <br><br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

    <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <center><img src="{{ STATIC_URL }}/description.jpg" alt="Description" width="850" height="345"></center>
                </div>

                <div class="item">
                    <center><img src="{{ STATIC_URL }}/features.jpg" alt="Features" width="850" height="345"></center>
                </div>
            </div>

    <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br><br>
    {# CAROUSEL #}
    </div>
    <div id="menu1-1" class="tab-pane fade">
      <br>
      <center><img align="center" src='{{ STATIC_URL }}/parking.jpg' width="1130px" height="370"></center>

    </div>
    <div id="menu2" class="tab-pane fade">
      <br>
      <p><b><h3><font color='yellow' family='Arial' size='5'>Jeff Narvasa</font></h3></b></p>
      <p><img src='{{ STATIC_URL }}/jep.jpg' width="100" height="100"></p>
      <p><a href='https://www.facebook.com/jffnarvasa?fref=ts'><img src='{{ STATIC_URL }}/fb.png'/></a>
      <a href='mailto:jffnarvasa@yahoo.com'><img src='{{ STATIC_URL }}/email.png'/></a></p>
      <p><b><h3><font color='yellow' family='Arial' size='5'>Nilo Magaway Jr.</font></h3></b></p>
      <p><img src='{{ STATIC_URL }}/nilo.png' width="100" height="100"></p>
      <p><a href='https://www.facebook.com/malufet?fref=ts'><img src='{{ STATIC_URL }}/fb.png'/></a>
      <a href='mailto:npmagawayjr@gmail.com'><img src='{{ STATIC_URL }}/email.png'/></a>
      <a href='https://twitter.com/MaLuFeT_'><img src='{{ STATIC_URL }}/twitter.png'/></a></p>
    </div>
  </div>
  </div>
</div>
<footer style="position: absolute; bottom: 0px; width: 100%; height: 35px; background-color: yellow;">
    <font color='black' size='5px'><b>© 2015 Parking Lot System - All Rights Reserved.</b></font>
    <div class='positions'>
    <a class='extra' href='/main/'><b>ABOUT
    <font size='4px'> | </font>
    <a class='extra' data-toggle='tab' href='#menu2'><b>CONTACT US</b></a>
    <font size='4px'> | </font>
    <a class='extra' href='/logout/'><b>LOGOUT</b></a>
    </div>
</footer>
</body>
</html>
