<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
        background-color: lightgray;
        vertical-align: center;
        text-align: center;
    }
</style>
</head>
<body>
<title>Parking System | SignUp</title>
    <h1>Please Fill Up This Form:</h1>
    <form method="POST">
        {% csrf_token %}
        <p><font color='red'>{{ error }}</font></p>
            <div class=”fieldWrapper”>
                    {{ field.label_tag }} {{ field }}

            </div>
        <input type="submit" value="Register">
    </form>
</body>
</html>
