<!DOCTYPE html>
<html lang="en">
<head>

<style>
    input {height: 40px; width: 220px;text-align: center;
        border: solid;
        border-radius: 10px;

        }
    body{
        vertical-align: center;
        text-align: center;
        background-image: url('{{ STATIC_URL }}/register2.jpg');
    }
</style>
</head>
<body>
    <title>Parking System | SignUp</title>
    <h1 align="left" style="font-size: 50px; font-style: italic">Sign up</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class=”fieldWrapper”><br>
                    {{ field.label_tag }} {{ field }}
                    <font color='red'>{{ field.errors }}</font>

            </div>

        {% endfor %}
        <br><input type="submit"
            style = "height: 50px; width: 200px; padding: 5px;
            font-size: 35px !important;
            font-style: italic;
            background-color: #BDBDBD;
            text-shadow: 1px 1px #000000;
            color: #000000;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border: 1px solid #000000;
            cursor: pointer;
            box-shadow: inset 2px 2px 2px 2px black;
            {# box-shadow: 0 0 30px #000000;
            -moz-box-shadow: 0 0 30px #000000;
            -webkit-box-shadow: 0 0 30px #000000; #}
            "
            value="Submit" onclick="myFunction()">

    </form>
</body>
