.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    }
    div.float{
        float: right;
    }
    .menu ul li {
    padding: 0;
    float: right;
    position: relative;
    }
    .panel_panel-default{
        background-color: black;
        position: static;
        min-width:1000px; /* suppose you want minimun width of 1000px */
        width: auto !important;  /* Firefox will set width as auto */
        width:1000px;
        font-family: Arial;
    }
    h2.head{
        color: yellow ;
        font-size: 300%;
        text-align: center;
        font-family: Arial;
    }
    span:hover{
             cursor: pointer;
             cursor: hand;
    }
    div.margin{
        margin: 15px 0px 0px 0px;
    }
    body.colors{
        background-color: black;
    }
    a.activate{
        background-color: yellow;
    }
    .positions{
        position: absolute;
        float: right;
        bottom: 0;
        right: 3px;

    }
    a.extra{
        color: black;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal ;
    }
    a.extra:visited {
        color: black;
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
    }
    a.extra:hover {
        color: purple;
        text-decoration: underline;
        font-weight: none
    }
    .dropdown{
        float: right!important;
    }
